@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Libre+Baskerville:wght@400;700&family=Noto+Sans+KR:wght@100&family=Quattrocento&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}


h1 {

  font-size: 40px;
  color: #fff;
  
  
}

p {
  color: #fff;
}

figcaption{
  color: #fff;
}

.sec1{
  padding-left: 10%;
  margin-top: 45vh;
}